body {
  background-color: #d3912f;
  font-family: "Calibri", sans-serif !important;
}

.container {
  margin-top: 60px;
  padding-top: 30px;
}

.to-right {
  margin-left: auto;
}

.greeting-msg {
  color: #ffffff;
  margin-right: 5px;
  vertical-align: middle;
}

.title {
  display: inline-block;
}

.header {
  display: flex;
}

.actions-container {
  margin-top: 9px;
  margin-left: auto;
}

.name-filter {
  width: 25vw;
  padding-left: 5px;
}

.year-select {
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  height: 36px;
  padding-left: 5px;
}

.create-movie-btn {
  height: 36px;
  padding: 0;
  width: 36px;
  margin-top: -4px;
}

.form-control {
  margin-bottom: 5px;
  margin-top: 5px;
}

.error-msg {
  margin-left: 15px;
  color: red;
}

.movie-item {
  display: inline-block;
  width: 25vw;
  margin: 20px;
  cursor: pointer;
}

.stars {
  margin: 20px 0;
  font-size: 24px;
  color: #d17581;
}

/*.dark input[type="text"] {
  height: 400px;
  font-size: 20px;
  line-height: 100px;
}*/
