.container {
  margin-top: 60px;
  padding-top: 30px;
}

.to-right {
  margin-left: auto;
}

.sign-in-btn {
  margin-top: 20px;
}

.sign-up-btn {
  margin-top: 20px;
}

.form-control {
  margin-bottom: 5px;
  margin-top: 5px;
}

.title {
  text-align: center;
}

.button-link {
  text-align: right;
}
