.container {
  margin-top: 60px;
  padding-top: 30px;
}

.to-right {
  margin-left: auto;
}

.sign-in-btn {
  margin-top: 20px;
}

.sign-up-btn {
  margin-top: 20px;
}

.form-control {
  margin-bottom: 5px;
  margin-top: 5px;
}

.title {
  text-align: center;
}

.greeting-msg {
  color: #ffffff;
  margin-right: 5px;
  vertical-align: middle;
}

.error-msg {
  display: inline-block;
  color: red;
  width: 89%;
}

.button-link {
  display: inline-block;
  text-align: right;
  width: 10%;
}
